.body{
width: 100%;
align-items: center;
display: flex;
flex-direction: column;
display: flex;
position: relative;
justify-content: space-between;
}
.imgBody{
    width: 100%;
    
}
.title{
    display: flex;
    position: absolute;
    padding: 15%;
    align-items: center;
    background-color: aqua;
}
.text{
    display:flex;
    position: absolute;
    padding: 20%;
    background-color: blue;
}
.title2{
    display: flex;
    position: ;
    padding-top: 40%;
    padding-left: 5%;
    background-color: brown;
}
.text2{
    display: flex;
    justify-content: space-between;
    
}